<% if flash(:message) %>
  <p style="color:red;"><%=flash[:message]%></p>
<% end %> <br>
<label for="create trips"><h1>Create a trip:</h1></label>

<form action="/trips" method="POST">
  <p><label>Destination:</label> <input type="text" name="trip[destination]"></p>
  <p><label>Start Date:</label> <input type="date" name="trip[start_date]"></p>
  <p><label>End Date:</label> <input type="date" name="trip[end_date]"></p>
  <p><label>*Select a Resort:</label><br>
          <%@resorts.each do |resort|%>
            <input type="checkbox" name="resorts[]" id="<%=resort.name%>" value="<%=resort.id%>"><%=resort.name%><br>
          <%end%>
    
     
  <p><label>*Notes:</label><br><textarea type="text" name="notes"></textarea><br><small>*not required</small></p>
  <p><input type="submit" value="Create Trip"></p>
</form>

