<% if flash(:message) %>
  <p style="color:red;"><%=flash[:message]%></p>
<% end %> <br>
<h1>Create a trip:</h1>

<form action="/trips" method="POST">
  <p><label>Destination:</label> <input type="text" name="destination"></p>
  <p><label>Start Date:</label> <input type="date" name="start_date"></p>
  <p><label>End Date:</label> <input type="date" name="end_date"></p>
  <p><label>*Notes:</label><br><textarea type="text" name="notes"></textarea><br><small>*not required</small></p>
  <p><input type="submit" value="Create Trip"></p>
</form>

