<h1>Edit Profile</h1>


<form method="POST" action="/users/<%=@user.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Name:</label> <input type="text" name="name" value="<%=@user.name%>"><br><br>
   
    <label>Email:</label> <input type="email" name="email" value="<%=@user.email%>"><br><br>
    <input class="btn btn-dark" type="submit" value="Save Changes">
</form>