<% if flash(:message) %>
  <%= flash[:message] %>
<% end %> 
<h1>Sign In</h1><br>
<br><br>
<form action="/login" method="POST">
  <p><label>Email:</label> <input type="email" name="email"></p>
  <p><label>Password: </label><input type="password" name="password"></p>
  <input type="submit" value="Log In">
</form>

<br><br><hr>
 <a class="btn btn-dark"  href="/" role="button">Home</a>
