<h1>Welcome Back!</h1><br>
<br><br>
<h3>Login</h3>
<form action="/login" method="POST">
  <label>Email:</label><input type="email" name="email">
  <label>Password:</label><input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In">
</form>
