<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %> 
<h1>We're excited to have you!</h1><br>
<h3>Sign up here:</h3>
<br><br>
<form action="/signup" method="POST">
  <label>Name:</label><input type="text" name="name"><br>
  <label>Email:</label><input type="email" name="email"><br>
  <label>Password:</label><input type="password" name="password"><br>
  <input type="submit" value="Sign Up">
</form>
