<% if flash(:message) %>
  <%= flash[:message] %>
<% end %> 
<h1>Sign up:</h1>
<h4>We're excited to have you!</h4><br>
<br><br>
<form action="/users" method="POST">
  <p><label>Name:</label><input type="text" name="name"></p>
  <p><label>Email:</label><input type="email" name="email"></p>
  <p><label>Password:</label><input type="password" name="password"></p>
  <p><input type="submit" value="Sign Up"></p>
</form>
