
<%if flash(:message)%>
  <p style="color:red;"><%=flash[:message]%></p>
<%end%> 
<h1>Hi, <%=@user.name%>!</h1>

<h2>Trips &hearts;</h2><br>

<%@user.trips.each do |trip|%>
  <a class="btn btn-dark"  href="/trips/<%=trip.id%>"role="button"><%=trip.destination%></a><br><br>
<%end%>
<br><br><br>
<hr>

<a class="btn btn-dark"  href="/trips/new"role="button">Create a New Trip</a> <a class="btn btn-dark"  href="/trips" role="button">View All Trips</a> <a class="btn btn-dark" href="/logout" role="button">Log Out</a>