<%if flash(:message)%>
  <%=flash[:message]%>
<%end%> 
<h1>Welcome, <%=@user.name%>!</h1>


<br><br><br>
<a class="btn btn-dark"  href="/trips/new"role="button">Create Trip</a><br><br>


<a class="btn btn-dark"  href="/users/<%=@user.id%>/edit"role="button">Edit Name</a><br><br>

<a class="btn btn-dark" href="/logout" role="button">Log Out</a>
