<a class="btn btn-dark"  href="/trips" role="button">Trip Index</a> <a class="btn btn-dark"  href="/users/<%=current_user.id%>" role="button">My Trips</a> <a class="btn btn-dark" href="/logout" role="button">Log Out</a>
<hr>

<h1>Resort Index</h1>
    <%@states.each do |state|%>
        <h2><label for="location"><%=state.name%></label></h2>
            <%state.resorts.each do |resort|%>
                <a class="btn btn-dark" href="/resorts/<%=resort.id%>" role="button"><%=resort.name%></a><br><br>
        <%end%>
    <%end%>

