<h1>Ski/Snowboard Resorts on the West Coast</h1>

<%@resorts.each do |resort|%>
    <a class="btn btn-dark" href="/resorts/<%=resort.id%>" role="button"><%=resort.name%> - <%=resort.state%></a><br><br>
<%end%>
