<h2> Hey there. You look great.</h2><br><br>
<h5> Unfortunately, you don't have access to view this page</h5>
<br><br>
<p><b> Click below to log in or sign up</b></p>
<p><i> If you are already logged in, you will return home</i></p>
 <a class="btn btn-dark"  href="/" role="button">You can go your own way ♪</a>