<h2> That's great you're excited to get started! But you must log in first.</h2>
<br><br>
<h4> Click below to return to log in or sign up</h4>
 <a class="btn btn-dark"  href="/" role="button">You can go your own way ♪</a>