<h1> Welcome to Wayfare!</h1>

<p>A travel log to plan and store all of your adventures.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/6ul-cZyuYq4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>