<%if flash(:message)%>
  <p style="color:red;"><%=flash[:message]%></p>
<%end%> 
<br><br>
<h1> Wayfare</h1> <p>:: A travel log to plan and save all of your adventures.</p>
<p><b>way·​fare</b>&#9652;<i>noun</i></p>
<p>1. archaic : an act or course of journeying<br>
2. obsolete : money or provisions for a journey<br><br>


<a class="btn btn-dark" href="/users/login" role="button">Log In</a>
<a class="btn btn-dark"  href="/users/new" role="button">Sign Up</a>




<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6ul-cZyuYq4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>