<%if flash(:message)%>
  <p style="color:coral;"><%=flash[:message]%></p>
<%end%> 
<br><br>


<p style="width:50%">:: a travel log to plan and save all of your adventures ::</p> 
 
<div class="row">
  <div class="column">
    <p style="width:100%"><b>way·​fare</b>&#9679;<i>noun</i></p> 
    <p> 1. <i>archaic</i> : an act or course of journeying</p>
  </div>
</div>

<div class="row">
  <div class="column">
    <a class="btn btn-dark" href="/users/login" role="button" style="width:100%">Log In</a> 
  </div>
  <div class="column">
    <a class="btn btn-dark"  href="/users/new" role="button" style="width:100%">Sign Up</a> 
  </div>
</div>
